* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

body {
  background: #4a505e; /* mismo color que tu container */
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}
